# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
ano = [1900,1920,1940,1960,1980,2000,2020]

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

serie = pd.Series(anomalia,index=ano)
serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

serie_d = pd.Series(dic_temperaturas)
serie_d

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [29]:
arr = np.random.normal(100, 10, (20,3))

array_to_dataframe = pd.DataFrame(arr)
array_to_dataframe

             0           1           2
0    89.158774   93.004311   98.776239
1    89.024642   84.169411   92.714203
2   109.740119   95.075052  115.605989
3    90.613076  123.831138  110.631865
4   100.845072  119.829004  120.748986
5   126.367850  101.486742  110.407044
6    77.962526  107.527583  103.950008
7    95.868782   99.256997  103.428972
8   113.424126   93.033168   90.985356
9   115.284015  108.771570   85.038394
10  100.486140   91.681746  109.217127
11   91.160149  105.984952   94.806770
12  104.550678  108.055664   97.028602
13  108.292340   88.094196   92.388334
14  103.274875  115.123455   96.028165
15  114.292293  102.650940  106.638826
16  106.223316   94.314326  116.548737
17  104.406810  111.839690  106.312848
18  104.611966  114.908979  105.169926
19  103.446442  115.813795  108.340901

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [30]:
array_to_dataframe.index = [np.arange(1,21)]
array_to_dataframe.columns = ['x1','x2','x3']
array_to_dataframe

            x1          x2          x3
1    89.158774   93.004311   98.776239
2    89.024642   84.169411   92.714203
3   109.740119   95.075052  115.605989
4    90.613076  123.831138  110.631865
5   100.845072  119.829004  120.748986
6   126.367850  101.486742  110.407044
7    77.962526  107.527583  103.950008
8    95.868782   99.256997  103.428972
9   113.424126   93.033168   90.985356
10  115.284015  108.771570   85.038394
11  100.486140   91.681746  109.217127
12   91.160149  105.984952   94.806770
13  104.550678  108.055664   97.028602
14  108.292340   88.094196   92.388334
15  103.274875  115.123455   96.028165
16  114.292293  102.650940  106.638826
17  106.223316   94.314326  116.548737
18  104.406810  111.839690  106.312848
19  104.611966  114.908979  105.169926
20  103.446442  115.813795  108.340901

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [32]:
array_to_dataframe['media'] = array_to_dataframe.mean(axis=1)
array_to_dataframe

            x1          x2          x3       media
1    89.158774   93.004311   98.776239   93.646441
2    89.024642   84.169411   92.714203   88.636085
3   109.740119   95.075052  115.605989  106.807053
4    90.613076  123.831138  110.631865  108.358693
5   100.845072  119.829004  120.748986  113.807687
6   126.367850  101.486742  110.407044  112.753879
7    77.962526  107.527583  103.950008   96.480039
8    95.868782   99.256997  103.428972   99.518250
9   113.424126   93.033168   90.985356   99.147550
10  115.284015  108.771570   85.038394  103.031326
11  100.486140   91.681746  109.217127  100.461671
12   91.160149  105.984952   94.806770   97.317291
13  104.550678  108.055664   97.028602  103.211648
14  108.292340   88.094196   92.388334   96.258290
15  103.274875  115.123455   96.028165  104.808832
16  114.292293  102.650940  106.638826  107.860686
17  106.223316   94.314326  116.548737  105.695460
18  104.406810  111.839690  106.312848  107.519783
19  104.611966  114.908979  105.169926  108.230290
20  103.446442  115.813795  108.340901  109.200379

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [34]:
array_to_dataframe['log_med'] = np.log(array_to_dataframe['media'])
array_to_dataframe

            x1          x2          x3       media   log_med
1    89.158774   93.004311   98.776239   93.646441  4.539526
2    89.024642   84.169411   92.714203   88.636085  4.484539
3   109.740119   95.075052  115.605989  106.807053  4.671024
4    90.613076  123.831138  110.631865  108.358693  4.685447
5   100.845072  119.829004  120.748986  113.807687  4.734510
6   126.367850  101.486742  110.407044  112.753879  4.725207
7    77.962526  107.527583  103.950008   96.480039  4.569336
8    95.868782   99.256997  103.428972   99.518250  4.600341
9   113.424126   93.033168   90.985356   99.147550  4.596609
10  115.284015  108.771570   85.038394  103.031326  4.635033
11  100.486140   91.681746  109.217127  100.461671  4.609776
12   91.160149  105.984952   94.806770   97.317291  4.577977
13  104.550678  108.055664   97.028602  103.211648  4.636782
14  108.292340   88.094196   92.388334   96.258290  4.567035
15  103.274875  115.123455   96.028165  104.808832  4.652138
16  114.292293  102.650940  106.638826  107.860686  4.680840
17  106.223316   94.314326  116.548737  105.695460  4.660562
18  104.406810  111.839690  106.312848  107.519783  4.677675
19  104.611966  114.908979  105.169926  108.230290  4.684261
20  103.446442  115.813795  108.340901  109.200379  4.693185